body,
#root,
.app {
  background-color: #272f3a;
  color: #fff;
  margin: 0;
}

html {
  scroll-snap-type: y mandatory;
}

.navbar {
  background-color: #1b2128;
  height: 15vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 100px;
  position: fixed;
  z-index: 100;
  top: 0;
}

.nav-button-container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.nav-button {
  background-color: inherit;
  color: inherit;
  margin: 0;
  border: 0;
  height: 100%;
  width: 200px;
  cursor: pointer;
  transition: 1s;
  border-top-left-radius: 30px;
}

.nav-button:hover {
  background-color: #272f3a;
}

.nav-button-selected {
  background-color: #272f3a;
}

.device-row {
  display: flex;
  justify-content: space-between;
  width: 65vw;
  height: 50px;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #75869b;
  border-radius: 10px;
  padding: 5px;
}

.width10percent {
  width: 100%;
}

.device-column {
  height: 100%;
  display: flex;
  align-items: center;
}

.device-control-button {
  height: 100%;
  width: 120px;
  border-radius: 10px;
}

.device-control-button:hover {
  background-color: #1b2128;
}

.device-selected {
  background-color: #253648;
}

.main-body {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  min-width: 1200px;
  margin-top: 15vh;
}

.control-button {
  border: 1px solid #75869b;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-button:hover {
  background-color: #1b2128;
}

.control-button:disabled {
  background-color: initial;
  cursor: initial;
  color: #75869b;
}

.control-button:hover:disabled {
  background-color: initial;
}

.no-border {
  border: 0;
}

.scan-button {
  border-radius: 10px;
  height: 50px;
  width: 150px;
  margin-left: 20px;
}

.position-button {
  border-radius: 25%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.text-normal {
  font-weight: 600;
  font-size: 14pt;
}

.key-value-pair-container {
  display: flex;
  flex-direction: row;
}

.control-buttons-container {
  display: flex;
  flex-direction: row;
  height: 500px;
  align-items: center;
}

.text-value {
  color: #fff;
  width: 10vw;
}

.text-name {
  color: #75869b;
  width: 10vw;
}

.large {
  font-size: 36pt;
}

.medium {
  font-size: 20pt;
}

.medium-large {
  font-size: 28pt;
}

.program-input {
  background-color: #efefef;
  border: 0;
  border-radius: 0;
  width: 60vw;
  height: 50vh;
  padding: 2vw;
  resize: none;
}

.program-input:focus {
  outline: none !important;
}

.controls-container {
  width: 66vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

a {
  color: inherit;
  text-decoration: none;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.gap-20 {
  gap: 20px;
}

.program-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  padding-top: 15vh;
  height: 85vh;
  scroll-snap-align: start;
  position: relative;
}

.playback-body {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  width: 100vw;
  padding-top: 15vh;
  height: 85vh;
  scroll-snap-align: start;
  position: relative;
}

.grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.step-grid {
  display: grid;
  grid-auto-flow: row;
}

h1 {
  padding-left: 20px;
}

.program-controls {
  position: absolute;
  z-index: 1;
  top: 25vh;
  left: 10vw;
  display: flex;
  align-items: center;
}

.rows-button {
  height: 50px;
  width: 50px;
  border-radius: 10px;
}

.rows-button:disabled {
  color: #fff;
}

.frame-button {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.floating-button {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  background-color: #75869b;
  color: #1b2128;
  font-size: 30pt;
  position: relative;
}

.floating-button:hover {
  background-color: #fff;
  font-size: 34 pt;
  height: 80px;
  width: 80px;
}

.frame-save {
  position: fixed;
  bottom: 5vh;
  right: 2vw;
}

.frame-delete {
  position: fixed;
  bottom: 20vh;
  right: 2vw;
}

.inherit {
  font-size: inherit;
}

.display-none {
  display: none;
}
